body {
    font-family: 'Roboto', sans-serif;
    background-color: #2B2B2B;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.top-bar, .bottom-bar {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo, .content-logo {
    width: 45px;
    height: 45px;
}

button {
    background-color: #F55208;
    border: none;
    padding: 10px 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px; /* Slightly rounded corners for a modern look */
}

button:hover {
    background-color: #e04c07;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
    text-align: left;
    background-image: linear-gradient(to bottom, #2B2B2B 0%, #1A1A1A 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content h1, .content h2, .content .tagline {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 0.1em;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 0.05em;
}

.content .tagline {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #F55208;
}

.bottom-bar button {
    flex: 1;
    margin: 0 10px;
    padding: 10px 0;
}

.button-group {
    display: flex;
    align-items: center;
}

button:disabled {
    background-color: #6d6d6d;
    cursor: not-allowed;
    color: #9e9e9e;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
}

.modal-content {
    background-color: #FFF;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 50%; /* Adjusted width for better display */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation: animatetop 0.4s;
    color: #000;
    border-radius: 10px;
    text-align: center;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-actions {
    margin-top: 30px;
}

.modal-actions button {
    background-color: #F55208;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.stat-chip {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #F55208;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nft-cards-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Adjust based on the container's width */
    gap: 10px;
    padding: 10px;
}

.nft-card {
    border: 2px solid transparent; /* Initial border, transparent */
    border-radius: 8px;
    overflow: hidden;
    padding: 4px;
}

.nft-card img {
    width: 100%;
    height: auto;
    display: block;
}

.nft-card.selected {
    border-color: #F55208; /* Your primary color */
    box-shadow: 0 0 10px #F55208; /* Glow effect */
}

@media (max-width: 600px) {
    .nft-cards-container {
        grid-template-columns: repeat(5, 1fr); /* Adjust for smaller screens */
    }
}


.nft-card .nft-info {
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}

select {
    background-color: #202020;
    color: #FFFFFF;
    border: 1px solid #F55208;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px; /* Aligns with your top-bar padding */
}

